@model FamilyReunionGallery.Models.GalleryViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="wrapper">
        <div id="main">
            <article class="thumb">
                <a href="images/fulls/01.jpg" class="image"><img src="~/Content/images/thumbs/01.jpg" alt="" /></a>
                <h2>Magna feugiat lorem</h2>
                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
            </article>
            
        </div>
    </div>
  
    @Scripts.Render("~/bundles/js")
</body>
</html>
