@model FamilyReunionGallery.Models.DashboardViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/creative")
</head>
<body>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Welcome to Photo Memories</h1>
                <hr />
                <p><i>"The Best things in life are the people you love, the places you've been, and the memories you've made along the way."</i></p>
                
                @using (Html.BeginForm("Dashboard", "Home", FormMethod.Post))
                {
                    <div class="form-group">
                        <label for="passcode">Enter Pass Code</label><span style="color:red">   @Model.ErrorMessage</span>
                        <input type="password" class="form-control" id="passcode" name="passcode">
                    </div>
                     <button type="submit" class="btn btn-primary btn-xl page-scroll">Enter</button>
                }
            </div>
        </div>
    </header>
    @Scripts.Render("~/bundles/dashboard")
</body>
</html>
